.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 9999px;
  margin-block: 1rem;
  font-weight: bold;
  transition: 0.3s;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:disabled {
    color: black;
    background-color: rgb(217 217 217);
    cursor: not-allowed;
  }

  &:not(:disabled, .outline):hover {
    background-color: var(--primary-color-dark);
  }

  &.outline {
    background-color: white;
    border: 1px solid rgb(0 0 0 / 60%);
    color: black;
    font-weight: normal;

    &:not(:disabled):hover {
      background-color: rgb(0 0 0 / 10%);
    }
  }
}